parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - 'src/Kernel.php'
    ignoreErrors:
        - '#Call to an undefined method .*Interface\:\:.*\(\)\.#'
        - '#Call to an undefined property .*Interface\:\:.*\(\)\.#'
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: console-loader.php
    doctrine:
        objectManagerLoader: doctrine-orm-bootstrap.php
