body {
    background-color: lightgray;
}

.cmarginbottom {
    margin-bottom: 15px;
}

.cmargintop {
    margin-top: 15px;
}

.cmarginright {
    margin-right: 10px;
}

.cmarginleft {
    margin-left: 10px;
}

.text-justify {
    text-align: justify;
}